@mixin before_circle {
    &:before {
        position: absolute;
        content: '';
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main-color;
        z-index: -1;
        top: -25%;
        left: 0px;
    }
}

@mixin svg_red {
    path{
        transition: 0.5s all;
        fill: red;
    }

}