@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }

    .title {
        &_fz48 {
            font-size: 28px;
        }
    }

    .promo {
        &__title {
            line-height: 39px;
            width: 300px;
        }
    }

    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 600px auto auto / minmax(300px, 1fr);
        }
        // &__photo {
        //     // grid-row: unset;
        // }
        &__skills {
            // grid-template-columns: 310px;
            grid-template-columns: repeat(2, 260px);
            grid-template-rows: minmax(107px,auto) minmax(107px,auto);
            
            &-item {
                grid-template-columns: 40px 200px;
                column-gap: 20px;
            }
        }
    }

    
    .resume {
        padding: 40px 0px 0 0px;
        &__wrapper {
            padding: 40px 0px 0 10px;
            grid-template-columns: repeat(2,258px);
            column-gap: 12px;
        }

        &__item {
            &::before {
                width: 30px;
            }
            &-body {
                width: 258px;
                padding-left: 30px;
            }
            &-icon {
                left: 30px;
            }
            &-head {
                padding: 45px 0 0 90px;
            }
        }
    }

    .skills {
        &__wrapper {
            margin: 40px 0 0 0;
            grid-template-columns: repeat(auto-fill,260px);
            // grid-template-rows: 260px 260px;
            grid-template-rows: repeat(auto-fill, minmax(260px,auto));
            gap: 10px;
            grid-auto-rows: minmax(260px, auto);
        }
        &__item {
            grid-template-rows: minmax(65px, auto);
            padding: 20px 30px 25px 32px;
            &-wrapper {
                grid-row: 2/3;
            }
        }

        &__ratings {
            padding-top: 50px ;
            column-gap: 30px;
            grid-template-columns: repeat(auto-fill, 250px);

            &-line {
                width: 250px;
            }
        }
    }

    .portfolio {
        padding-top: 40px;

        &__wrapper {
            margin-top: 40px;
        }
    }    

    .price {
        // padding-top: 40px;
        &__wrapper {
            margin-top: 20px;
            grid-template-columns: repeat(auto-fill, 350px);
            row-gap: 20px;
            justify-content: center;
        }
    }

    .contacts {
        &__wrapper {
            grid-template-columns: 445px;
            justify-content: center;
        }
        &__photo {
            display: none;
        }
    }
}